
{% extends "layout.html" %}
{% block content%}
    {% for customer in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
               <a class="mr-2" href="{{ url_for('open_customer', cust_id=customer.cust_id) }}">{{ customer.first_name + ' ' + customer.last_name}}</a>
            </div>
            <p>{{ customer.email}}</p>
            <p>{{customer.cust_id }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}